body {
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADINGS */

.header--main {
    font-weight: normal;
    font-size: 50px;
    color: #ffffff;
}

.header--secondary {
    font-weight: 300;
    font-size: 42px;
    color: #ffffff;
}

.header--sub-header {
    font-size: 21px;
    font-size: rgb(233, 222, 222);
}

/* LINKS */

.link--cta {
    font-size: 16px;
    color: aquamarine;
}

/* FOOTER */
.footer--copyright {
    font-size: 21px;
    color: rgb(233, 222, 222);
    text-align: right;
}